*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Runtime user uploads (created on deploy; not committed)
/public/storage/uploads/*
!/public/storage/uploads/.gitkeep
/public/storage/announcements/*
!/public/storage/announcements/.gitkeep

# Firebase service account (obtain from Firebase console)
/storage/app/*.json
!/storage/app/.gitignore
